<mat-card >
    <div class="uk-flex uk-flex-center uk-margin-medium-bottom">
        <h3>Pembelian</h3>
    </div>
  <mat-card-content>
    <mat-form-field class="uk-width-1-1">
        <mat-label>Nomor Beras</mat-label>
        <input matInput placeholder="Nomor Beras" value="" name ="v_berasID">
      </mat-form-field>
      <mat-form-field class="uk-width-1-1">
        <mat-label>Tipe Beras</mat-label>
        <input  matInput placeholder="Tipe Beras" value="" name="v_tipe">
      </mat-form-field>
      <mat-form-field class="uk-width-1-1">
        <mat-label>Kualitas Beras</mat-label>
        <input  matInput placeholder="Kualistas Beras" value="" name="v_quality">
      </mat-form-field>
      <mat-form-field class="uk-width-1-1">
        <mat-label>Lokasi</mat-label>
        <input  matInput placeholder="Lokasi Pembelian" value="" name="v_storedLocation">
      </mat-form-field>
      <mat-form-field class="uk-width-1-1">
        <mat-label>Tanggal Panen</mat-label>
        <input  matInput placeholder="Tanggal Panen" value="" name="v_tanggalPanen">
      </mat-form-field>
      <mat-form-field class="uk-width-1-1">
        <mat-label>Provinsi</mat-label>
        <input  matInput placeholder="Propinsi" value="" name="v_regionOrigin">
      </mat-form-field>
      <mat-form-field class="uk-width-1-1">
        <mat-label>Jumlah Beras</mat-label>
        <input  matInput placeholder="Jumlah Beras" value="" name="v_quantity">
      </mat-form-field>
      <mat-form-field class="uk-width-1-1">
        <mat-label>Nama</mat-label>
        <input  matInput placeholder="Nama Penjual" value="" name="v_fromRecipient">
      </mat-form-field>
      <mat-form-field class="uk-width-1-1">
        <mat-label>Nama Penerima</mat-label>
        <input  matInput placeholder="Nama Penerima" value="" name="v_toRecipient">
      </mat-form-field>
      <mat-form-field class="uk-width-1-1">
        <mat-label>Harga Perkilo</mat-label>
        <input  matInput placeholder="Nama Penerima" value="" name="v_pricePerKg">
      </mat-form-field>
      <mat-form-field class="uk-width-1-1">
        <mat-label>Total</mat-label>
        <input  matInput placeholder="Total" value="" name="v_totalPrice">
      </mat-form-field>
      <div class="uk-flex uk-flex-right">
          <button mat-raised-button color="primary">SUBMIT</button>
      </div>
  </mat-card-content>
</mat-card>