<mat-card >
    <div class="uk-flex uk-flex-center uk-margin-medium-bottom">
        <h3>Penjualan</h3>
    </div>
  <mat-card-content>
    <mat-form-field class="uk-width-1-1">
        <mat-label>Nomor Beras</mat-label>
        <input matInput placeholder="Nomor Beras" value="" name ="s_berasID">
      </mat-form-field>
      <mat-form-field class="uk-width-1-1">
        <mat-label>Tipe Beras</mat-label>
        <input  matInput placeholder="Tipe Beras" value="" name="s_tipe">
      </mat-form-field>
      <mat-form-field class="uk-width-1-1">
        <mat-label>Kualitas Beras</mat-label>
        <input  matInput placeholder="Kualistas Beras" value="" name="s_quality">
      </mat-form-field>
      <mat-form-field class="uk-width-1-1">
        <mat-label>Provinsi</mat-label>
        <input  matInput placeholder="Propinsi" value="" name="s_regionOrigin">
      </mat-form-field>
      <mat-form-field class="uk-width-1-1">
        <mat-label>Jumlah Beras</mat-label>
        <input  matInput placeholder="Jumlah Beras" value="" name="s_quantity">
      </mat-form-field>
      <mat-form-field class="uk-width-1-1">
        <mat-label>Nama</mat-label>
        <input  matInput placeholder="Nama Penjual" value="" name="s_fromRecipient">
      </mat-form-field>
      <mat-form-field class="uk-width-1-1">
        <mat-label>Nama Penerima</mat-label>
        <input  matInput placeholder="Nama Penerima" value="" name="s_toRecipient">
      </mat-form-field>
      <mat-form-field class="uk-width-1-1">
        <mat-label>Harga Perkilo</mat-label>
        <input  matInput placeholder="Nama Penerima" value="" name="s_pricePerKg">
      </mat-form-field>
      <mat-form-field class="uk-width-1-1">
        <mat-label>Total</mat-label>
        <input  matInput placeholder="Total" value="" name="s_totalPrice">
      </mat-form-field>
      <div class="uk-flex uk-flex-right">
          <button mat-raised-button color="primary">SUBMIT</button>
      </div>
  </mat-card-content>
</mat-card>