<mat-card >
    <div class="uk-flex uk-flex-center uk-margin-medium-bottom">
        <h3>Harga Acuan Beras</h3>
    </div>
  <mat-card-content>
    <mat-form-field class="uk-width-1-1">
        <mat-label>Harga Erceran</mat-label>
        <input matInput placeholder="Harga Erceran" value="" name ="m_hargaEceran">
      </mat-form-field>
      <mat-form-field class="uk-width-1-1">
        <mat-label>Harga Acuan</mat-label>
        <input matInput placeholder="Harga Acuan" value="" name ="m_hargaAcuan">
      </mat-form-field>
      <mat-form-field class="uk-width-1-1">
        <mat-label>Harga Produsen</mat-label>
        <input matInput placeholder="Harga Produsen" value="" name ="m_hargaProdusen">
      </mat-form-field>
      <mat-form-field class="uk-width-1-1">
        <mat-label>Harga Pembelian Pemerintah</mat-label>
        <input matInput placeholder="Harga Pembelian Pemerintah" value="" name ="m_hargaPembelianPemerintah">
      </mat-form-field>
      
      <div class="uk-flex uk-flex-right">
          <button mat-raised-button color="primary">SUBMIT</button>
      </div>
  </mat-card-content>
</mat-card>